.hide {	display:none; }
.show {	display:block; }

.right { float:right }
.left { float:left }

.text-right { text-align:right; }
.text-left { text-align:left; }

.align-control {width:250px; display:inline-block; margin-left:1rem;}

.input-button-align { display: flex; align-items: stretch; }

.crf-align-table {width:15%; height: auto; display:inline-block; margin-left:1rem;}
.crf-align-vertical {width:80%; display:block;}

table.crf-grid-table {
	table-layout: fixed;
	width: auto;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.crf-grid-table thead th {
	background-color: #eee;
	border: 1px solid #aaa;
	padding: 1rem!important;
}

.crf-grid-table tbody td {
	border: 1px solid #aaa;
	padding: 1rem!important;
}
.label-controller{margin-bottom:1rem; height:30px;}


.div-center { text-align:center; }

.radio-one-line .radio { 
	display: inline-block;
	margin : 0;
}

.radio-align {
	height: 2.5rem;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.search-input {
	background-color:#FCFCFC;
	border-color:#72AEE6;
}

.search-input:disabled {
	background-color: #f1f2f5;
	border-color: #f1f2f5;
}

.descriptive-index-col {
	padding-right:10px!important;
	font-size:1rem;
	font-weight:600;
	border-right:1px solid #ededed;
}

.decriptive-col-center {
	justify-content:space-evenly!important;
}

.list-group>
.list-group-item:hover {
    color:#272833;
    background-color:#f0f5ff;
}

.th-24 th {
	height:24px;
}

.index-table {table-layout:fixed; border:1px solid white; font-size:small;}
	
.title-cell { background-color: #f9f9f9; border-right: 1px solid #dcdcde; font-weight:bold; }
.title-middle-cell { background-color: #f9f9f9; border-left: 1px solid #dcdcde; border-right: 1px solid #dcdcde; font-weight:bold; }

td.table-cell { min-width: 80px; }

td.min-width-80 { min-width: 80px; }
td.min-width-120 { min-width: 120px; }

.radius-shadow-container {
	padding: 16px;
	background-color:#FFFFFF!important;
	border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


/* override attribute */
.pagination {
	font-size:0.8rem;
}

div.dataTables_wrapper div.dataTables_info {
    font-size: 0.8rem;
}

.table th {
    height: 24px;
}

.table-list tbody tr:nth-last-child(2) td {
	border-bottom-width: 1px!important;
}

.hide-embedded-portlet-header
.portlet-header
{
	display:none;	
}

.station-x .center-button {width:100%;}

#wrapper .main-content-card {
	min-height:0px;
}

/* override attribute */
