@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.ecrf-user, .ecrf-user-crf-data, .ecrf-user-crf-query, .ecrf-user-crf {	
	
    .w80 {width:80px;}
    .w110 {width:110px;}
    .w120 {width:120px;}
    .w130 {width:130px;}
    .w140 {width:140px;}
    .w150 {width:150px;}
    .w180 {width:180px;}
    .w200 {width:200px;}
    .w220 {width:220px;}
    .w240 {width:240px;}

    .h36 {height:36px;}
    .h40 {height:40px;}

    .br20 {border-radius:20px;}

    /* override css */
    font-family: Roboto, "Nanum Gothic", sans-serif, "Noto Sans KR";
		
	a[disable=true] {
    	pointer-events: none;
	}

    .searchcontainer-content .table thead th,
    .table thead th, .table-list thead td, .table-list thead th {
        background-color: #424242;
        color: #A0A0A0;
    }

    .search-option {
        border-color: #E7E7ED!important;
    }	

    table { border-collapse : collapse; font-size : 0.9rem!important;}	

    .row { align-items: stretch; }
    
    .form-control {
        background-color:#FCFCFC;
        border-color:#72AEE6;
    }
    /* override css */


	/* icon style */
	.dh-icon {
		display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        gap: 8px;
        padding: 6px 8px;
        border: none;
        border-radius: 4px;
        font-size: 0.875rem;
        cursor: pointer;		      
        text-decoration: none!important;
	}
	.dh-icon img{
		height: 24px;
		object-fit: contain;
	}
    .dh-icon span{
        color: white;
        white-space: nowrap;
        font-weight: bold;
        padding-top: 2px;
    }
	/* icon style */
	
	/* side navigation style */
    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */        
	div.page-content {
	    padding:16px 16px 16px 195px; 
	    max-width:2000px;
	}
	
	div.page-content-sub {
	    padding:16px 16px 16px 187px; 
	    max-width:2000px;
	}
	
	.side-menu {
	   	margin-top: 16px;
	    margin-left: 12px;
	    padding: 4px;
	    width: 170px;
	    position: absolute;
	    overflow: auto;
		min-width: 170px;
		line-height: 1rem;
		background-color:white;
		overflow:visible
	}
	
	.dh-sidebar {
		display: inline-flex;
        align-items: center;
        justify-content: left;
        
        gap: 10px;
        width: 96%;
        padding: 0px 10px;
        border: none;
        border-radius: 0px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;		      
        text-decoration: none!important;
        margin-bottom: 2px;
        border-bottom: 1px solid #888;
        height: 3rem;
	}
	.sidebar-not-move {
    	cursor: not-allowed;
    	position: relative;
    } 
	
	.dh-sidebar img{
		width: 30px;
		height: 30px;
		object-fit: contain;
	}
    .dh-sidebar span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align:left;
    }
    
    .menu-main span,
    .menu-1 span,
    .menu-2 span,
    .menu-3 span
    { color: white; }

    .menu-1.inactive span,
    .menu-2.inactive span,
    .menu-3.inactive span
    { color: rgb(150,150,150); }

    .menu-1.inactive:hover span,
    .menu-2.inactive:hover span,
    .menu-3.inactive:hover span
    { color: rgb(255,255,255); }
    
    .menu-1.sidebar-not-move:hover span,
    .menu-2.sidebar-not-move:hover span,
    .menu-3.sidebar-not-move:hover span
    { color: rgb(150,150,150); }

	.menu-main { background-color: rgb(40,60,160); }    
    .menu-main:hover { background-color: rgb(50,70,180); }    

	.menu-1 { background-color: rgb(60,90,200); margin-top:4px; }
	.menu-1:hover { background-color: rgb(50,70,180); }

    .menu-1.inactive { background-color: rgb(100,170,255); }
    .menu-1.inactive:hover { background-color: rgb(80,150,240); }

	.menu-2 { background-color: rgb(0,160,100); margin-top:2px; }
	.menu-2:hover { background-color: rgb(0,140,90); }
    
    .menu-2.inactive { background-color: rgb(0,210,140); }
    .menu-2.inactive:hover { background-color: rgb(0,190,120); }

	.menu-3 { background-color: rgb(110,80,255); }
	.menu-3:hover { background-color: rgb(90,60,240); }

    .menu-3.inactive { background-color: rgb(170,160,255); }
    .menu-3.inactive:hover { background-color: rgb(140,130,240); }

    .side-menu div:nth-child(2)>a {margin-top:0px;}

    .current-crf { 
    	width:96%;
    	padding:4px 10px;
    	margin:4px;
    	
    	border-radius:4px;
    	background-color:rgb(60,90,200);
    	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    	
    	font-size:0.8rem;
    	font-weight:bold;
    	line-height:1.2rem;
    	color:white;
    }
    
    /* side navigation style */

    
	/* icon class */

    /* project menu */
	.project-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/project_icon.png); }

	.project-info-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/project_info_icon.png); }
	.project-info-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/project_info_icon.png); }
    .dh-sidebar.inactive:hover img.project-info-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/project_info_icon.png); }

    .exp-group-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/exp_group_icon.png); }
    .exp-group-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/exp_group_icon.png); }
    .dh-sidebar.inactive:hover img.exp-group-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/exp_group_icon.png); }

    .exp-group-list-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/exp_group_list_icon.png); }
    .exp-group-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/exp_group_list_icon.png); }
    .dh-sidebar.inactive:hover img.exp-group-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/exp_group_list_icon.png); }

    .add-exp-group-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_exp_group_icon.png); }
    .add-exp-group-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/add_exp_group_icon.png); }
    .dh-sidebar.inactive:hover img.add-exp-group-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_exp_group_icon.png); }
	
    /* researcher menu */
    .researcher-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/researcher_icon.png); }

    .researcher-list-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/researcher_list_icon.png); }
    .researcher-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/researcher_list_icon.png); }
    .dh-sidebar.inactive:hover img.researcher-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/researcher_list_icon.png); }

    .add-researcher-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_researcher_icon.png); }
    .add-researcher-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/add_researcher_icon.png); }
    .dh-sidebar.inactive:hover img.add-researcher-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_researcher_icon.png); }

    /* subject menu */
    .subject-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/subject_icon.png); }

    .subject-list-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/subject_list_icon.png); }
    .subject-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/subject_list_icon.png); }
    .dh-sidebar.inactive:hover img.subject-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/subject_list_icon.png); }

    .add-subject-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_subject_icon.png); }
    .add-subject-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/add_subject_icon.png); }
    .dh-sidebar.inactive:hover img.add-subject-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_subject_icon.png); }

    /* crf menu */
    .crf-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_icon.png); }

    .crf-list-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_list_icon.png); }
    .crf-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/crf_list_icon.png); }
    .dh-sidebar.inactive:hover img.crf-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_list_icon.png); }

    .add-crf-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_crf_icon.png); }
    .add-crf-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/add_crf_icon.png); }
    .dh-sidebar.inactive:hover img.add-crf-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_crf_icon.png); }

    .update-crf-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/update_crf_icon.png); }
    .update-crf-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/update_crf_icon.png); }
    .dh-sidebar.inactive:hover img.update-crf-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/update_crf_icon.png); }
    .dh-sidebar.sidebar-not-move:hover img.update-crf-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/update_crf_icon.png); }
    
    .crf-form-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_form_icon.png); }
    .crf-form-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/crf_form_icon.png); }
    .dh-sidebar.inactive:hover img.crf-form-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_form_icon.png); }
    .dh-sidebar.sidebar-not-move:hover img.crf-form-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/crf_form_icon.png); }

    .crf-data-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_data_icon.png); }
    .crf-data-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/crf_data_icon.png); }
    .dh-sidebar.inactive:hover img.crf-data-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_data_icon.png); }
    .dh-sidebar.sidebar-not-move:hover img.crf-data-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/crf_data_icon.png); }
    
    .crf-query-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_query_icon.png); }
    .crf-query-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/crf_query_icon.png); }
    .dh-sidebar.inactive:hover img.crf-query-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_query_icon.png); }
    .dh-sidebar.sidebar-not-move:hover img.crf-query-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/crf_query_icon.png); }

    .data-list-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_data_list_icon.png); }
    .data-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/crf_data_list_icon.png); }
    .dh-sidebar.inactive:hover img.data-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/crf_data_list_icon.png); }

    .data-history-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/data_history_icon.png); }
    .data-history-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/data_history_icon.png); }
    .dh-sidebar.inactive:hover img.data-history-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/data_history_icon.png); }
    
    .excel-download-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/excel_download_icon.png); }
    .excel-download-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/excel_download_icon.png); }
    .dh-sidebar.inactive:hover img.excel-download-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/excel_download_icon.png); }

    .search-crf-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/search_crf_data_icon.png); }
    .search-crf-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/search_crf_data_icon.png); }
    .dh-sidebar.inactive:hover img.search-crf-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/search_crf_data_icon.png); }

    .query-list-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/query_list_icon.png); }
    .query-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/query_list_icon.png); }
    .dh-sidebar.inactive:hover img.query-list-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/query_list_icon.png); }

    .update-query-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/update_query_icon.png); }
    .update-query-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/update_query_icon.png); }
    .dh-sidebar.inactive:hover img.update-query-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/white/update_query_icon.png); }
    .dh-sidebar.sidebar-not-move:hover img.update-query-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/update_query_icon.png); }

    /* button icon */
    .view-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/view_icon.png); }

    .add-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/add_icon.png); }
    .add-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/add_icon.png); }

    .update-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/update_icon.png); }
    .update-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/update_icon.png); }

    .save-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/save_icon.png); }
    .save-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/save_icon.png); }

    .delete-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/delete_icon.png); }
    .delete-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/delete_icon.png); }

    .back-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/black/back_icon.png); }
    
    .cancel-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/cancel_icon.png); }

    .import-data-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/black/import_data_icon.png); }
    .import-subject-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/black/import_subject_icon.png); }

    .manage-researcher-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/black/researcher_list_icon.png); }

    .manage-subject-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/black/manage_subject_icon.png); }
    .manage-subject-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/manage_subject_icon.png); }
    
    .manage-update-lock-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/black/manage_update_lock_icon.png); }
    .manage-update-lock-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/manage_update_lock_icon.png); }

    .db-lock-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/db_lock_icon.png); }
    .db-unlock-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/db_unlock_icon.png); }

    .audit-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/audit_icon.png); }

    .review-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/review_icon.png); }
    .review-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/review_icon.png); }

    .approve-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/approve_icon.png); }
    .approve-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/approve_icon.png); }

    .reject-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/reject_icon.png); }
    .reject-icon-inactive { content: url(/o/ecrf.user.dynamic.include/img/icon/inactive/reject_icon.png); }

    .search-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/search_icon.png); }

    .clear-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/clear_icon.png); }

    .up-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/up_icon.png); }

    .down-icon { content: url(/o/ecrf.user.dynamic.include/img/icon/white/down_icon.png); }
	/* icon class */
	

    /* icon button style */
    .dh-icon-button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;		      
        text-decoration: none!important;
        font-size: 0.875rem;
        padding: 6px 8px;
    }
    .dh-icon-button img{
		height: 24px;
		object-fit: contain;
	}
    .dh-icon-button span{
        color: white;
        font-weight: bold;
    }

    .dh-icon-button.submit-btn {
        font-size: 0.95rem;
        padding: 4px 8px;
        align-content: center;
        flex-wrap: wrap;      
    }

    .dh-icon-button.inactive{
        background-color: rgb(204,204,204);
        cursor: not-allowed;		      
    }
    
    .dh-icon-button.inactive span{
        color:rgb(68,68,68);
    }

    .dh-icon-button.br20 {border-radius:20px;}

    .dh-icon-button.update-btn,
    .dh-icon-button.review-btn,
    .dh-icon-button.search-btn,
    .dh-icon-button.approve-btn
    { background-color: rgb(100,170,250); }

    .dh-icon-button.update-btn:hover,
    .dh-icon-button.review-btn:hover,
    .dh-icon-button.search-btn:hover,
    .dh-icon-button.approve-btn:hover
    { background-color: rgb(80,150,240); }

    .dh-icon-button.crf-form-btn,
    .dh-icon-button.audit-trail-btn,
    .dh-icon-button.delete-all-crf-data-btn
    { background-color: rgb(170,160,255); }

    .dh-icon-button.crf-form-btn:hover,
    .dh-icon-button.audit-trail-btn:hover,
    .dh-icon-button.delete-all-crf-data-btn:hover
    { background-color: rgb(140,130,240); }

    .dh-icon-button.db-lock-btn,
    .dh-icon-button.crf-data-btn,
    .dh-icon-button.save-btn
    { background-color: rgb(0,210,140); }

    .dh-icon-button.db-lock-btn:hover,
    .dh-icon-button.crf-data-btn:hover,
    .dh-icon-button.save-btn:hover
    { background-color: rgb(0,190,120); }

    .dh-icon-button.add-btn
    { background-color: rgb(255,150,120); }

    .dh-icon-button.add-btn:hover
    { background-color: rgb(240,130,100); }

    .dh-icon-button.back-btn,
    .dh-icon-button.cancel-btn
    { background-color: rgb(160,160,160); }

    .dh-icon-button.back-btn:hover,
    .dh-icon-button.cancel-btn:hover
    { background-color: rgb(150,150,150); }

    .dh-icon-button.crf-query-btn,
    .dh-icon-button.up-btn,
    .dh-icon-button.down-btn
    { background-color: rgb(255,200,100); }

    .dh-icon-button.crf-query-btn:hover,
    .dh-icon-button.up-btn:hover,
    .dh-icon-button.down-btn:hover
    { background-color: rgb(240,180,80); }

    .dh-icon-button.close-btn,
    .dh-icon-button.clear-btn,
    .dh-icon-button.reject-btn,
    .dh-icon-button.delete-btn
    { background-color: rgb(255,140,180); }

    .dh-icon-button.close-btn:hover,
    .dh-icon-button.clear-btn:hover,
    .dh-icon-button.reject-btn:hover,
    .dh-icon-button.delete-btn:hover
    { background-color: rgb(240,120,160); }

    .dh-icon-button.manage-btn,
    .dh-icon-button.import-data-btn,
    .dh-icon-button.import-subject-btn
    { border: 1px solid rgb(170,170,170); background-color: rgb(230,230,230); }

    .dh-icon-button.manage-btn span,
    .dh-icon-button.import-data-btn span,
    .dh-icon-button.import-subject-btn span
     { color: rgb(0,0,0); }

    .dh-icon-button.manage-btn:hover
    .dh-icon-button.import-data-btn:hover,
    .dh-icon-button.import-subject-btn:hover
    { background-color: rgb(200,200,200); }
    
    
    /* need to delete */
    .dh-icon-button-submit{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;      
        gap: 8px;
        padding: 4px 8px;
        border: none;
        border-radius: 4px;
        font-size: 0.95rem;
        cursor: pointer;		      
        text-decoration: none!important;
        width: 110px;
        height: 36px;
    }
    
    .dh-icon-button-submit img{
		height: 24px;
		object-fit: contain;
	}
     
    .dh-icon-button-submit span{
        color:white;
        font-weight:bold;
    }
    
   	.dh-icon-button-submit-search {
   		width:100px;
        background-color: #5f73ff;
    }
    .dh-icon-button-submit-search:hover{
        background-color: #3d51dd;
    }
    
    .dh-icon-button-submit-clear {
    	width:100px;    
        background-color: #ef6d6d;
    }
    .dh-icon-button-submit-clear:hover{
        background-color: #cd4b4b;
    }
    
    .dh-icon-button-submit-add {
        background-color: #5f73ff;
    }
    .dh-icon-button-submit-add:hover{
        background-color: #3d51dd;
    }
    
    .dh-icon-button-submit-update {
   		background-color: #5f73ff;
    }
    .dh-icon-button-submit-update:hover {
    	background-color: #3d51dd;
    }
    
    .dh-icon-button-submit-delete {
    background-color: #ea5353;
    }
    .dh-icon-button-submit-delete:hover {
    background-color: #c83131;
    }
    
    .dh-icon-button-submit-cancel {
    	border: 1px solid #aaa;
    	background-color: #FFF;
    }
    .dh-icon-button-submit-cancel:hover {
    background-color: #DDD;
    }
    
    .dh-icon-button-submit-import {
    	border: 1px solid #aaa;
    	background-color: #FFF;
    	width: 175px;
    }
    .dh-icon-button-submit-import:hover {
    	background-color: #DDD;
    }
    
    .dh-icon-button-submit-save {
    	border: 1px solid #999;
    	background-color: #DDD;
    }
    .dh-icon-button-submit-import:hover {
    	background-color: #aaa;
    }
    
    
    .dh-icon-button-submit-manage {
    	margin-top: 3px;
    	margin-bottom: 8px;
    	margin-left: 5px;
    	border: 1px solid #aaa;
    	background-color: #EEE;
    	width: 240px;
    }
    .dh-icon-button-submit-manage span{
    	color: black;
    }
     .dh-icon-button-submit-manage:hover {
    	background-color: #CCC;
    }
    
    .dh-icon-button-submit-review {
   		background-color: #5f73ff;
    }		  
    .dh-icon-button-submit-review:hover {
    	background-color: #3d51dd;
    }

    .dh-icon-button-submit-data {
    	width: 140px;
    	background-color: #8c78ff;
    }		  
    .dh-icon-button-submit-data:hover {
    background-color: #6a56dd;
    }
    
    .dh-icon-button-submit-form {
    	width: 140px;
        background-color: #F4A460;
    }
    .dh-icon-button-submit-form:hover {
        background-color: #D28240;
    }

    .dh-icon-button-submit-query {
        background-color: #2F5597;
        width: 140px;
    }
    .dh-icon-button-submit-query:hover {
        background-color: #0d3375;
    }
    
    /* icon button style */
	
		
	.breadcrumb {
	    padding: 0;
	    margin-bottom: 0.5rem;
	}
	
	.center {
	    display:flex;
	    justify-content: center;
	}
	
	.min-width{
	    width: min-content;
	}

	.field-pad { padding: 10px; }

    .center-table,
    .center-table thead tr,
    .center-table thead th,
    .center-table tbody tr,
    .center-table tbody td
    { text-align: center !important; }

    .thead-gray>tr>th 
    {
        background-color:#2271b1;
        color:white;
        font-size:0.9rem
    }

    .vertical-middle {
        display:flex;
        align-items:center;
    }  

    .input-top-margin-container {
        input {
            margin-top:1rem;
            margin-bottom:1rem;
        }

        select {
            margin-top:1rem;
            margin-bottom:1rem;
        }
    }

    .form-group { margin-bottom:1rem; }

    .row-first {
        border-top: solid 1.5px #aaaaaa;
        border-bottom: solid 1px #cccccc;
    }
    .row-middle { border-bottom: solid 1px #cccccc; }
    .row-other { border-bottom: solid 1px #cccccc; }
    .row-last { border-top: solid 1.5px #aaaaaa; }
    
    
    /* need to integrate */
    .crf-max-width {
		width: 100px;
		word-break:keep-all;
		word-wrap:break-word;
	}

    .table-hover tbody tr:hover, 
    .table-hover tbody tr:hover td {
        background-color: #f0f5ff!important;
        color: #272833;
    }

    .table-striped tbody tr:nth-of-type(odd),
    .table-striped tbody tr:nth-of-type(odd) td {
        background-color: #FFF;
    }
    
    .update {
    	color: #940000;
		background-color: #E0E0E0;
		text-decoration: none;
    }
       	
	.crfHistory {background-color: #bebebe;}
    .crfHistory td{border: 1px solid #aaaaaa;}
	

	.top-border { border-top: 1px solid #dcdcde; }
	.bottom-border { border-bottom: 1px solid #dcdcde;	}
	
	.button-top-align { margin: 25px 0 0 0; }

    .borTr {border-top: 1rem;}
    .page-header-mar {margin-top: 10px; margin-bottom: 10px; }

	@media (min-width: 768px) {
		.md-marBr { margin-bottom:1rem; }
	}
    
    .groupName {
        display: flex;
        margin-top: 20px;
        background-color: #8580BC;
        color: white;
        font-weight: bold;
    }

    .subGroupName{
        background-color: #cfcaf7;
        font-weight: bold;
    }

    .queryBaseColor{color: white;}
    .queryAlertColor{color: red; }
    .queryIncompleteColor{color: yellow;}
    .queryCompleteColor{color: blue;}

    .sectionName {
        background-color: #eee;
        text-align: center;
    }

    .answerNode {
        text-align: center;
        cursor: pointer;
    }

    .graphSelection {
        color: #F47A5C!important;
    }
    
	.radio { display: inline-block; }
	.form-inline { display: inline-block; }
	
    .round-container { border: 1px solid #aaaaaa; border-radius:3px; }
    .title-span { font-size:20px; font-weight:bold; }
    .header-title-span { font-size:20px; font-weight:bold; }
    .sub-title-span { font-size:15px; font-weight:bold; }

    .sub-title-bottom-border { border-bottom: 1px solid #dcdcde; margin-bottom: 1rem; }

    .title-cell { background-color: #f9f9f9; border-right: 1px solid #dcdcde; font-weight:bold; }
    .title-middle-cell { background-color: #f9f9f9; border-left: 1px solid #dcdcde; border-right: 1px solid #dcdcde; font-weight:bold; }
    
    .header-hr { border-top-color: rgba(255, 255, 255, 0.5); }

    mark {
    	font-weight:600;
    	color:#0b63ce;
	}
    /* need to integrate */
    
    
    /* vertical-index */
    .vertical-index {
        text-align:center;
        white-space:nowrap;
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
        
    }
    .vertical-index p {
        margin:0 -100% ;
        display:inline-block;
        font-weight:600;
    }
    .vertical-index p:before{
        content:'';
        width:0;
        padding-top:100%;/* takes width as reference, + 10% for faking some extra padding */
        display:inline-block;
        vertical-align:middle;
    }
    /* vertical-index */
    
    
    /* START TOOLTIP STYLES */
	[tooltip] {
	  position: relative; /* opinion 1 */
	}
	
	/* Applies to all tooltips */
	[tooltip]::before,
	[tooltip]::after {
	  text-transform: none; /* opinion 2 */
	  font-size: .9em; /* opinion 3 */
	  line-height: 1;
	  user-select: none;
	  pointer-events: none;
	  position: absolute;
	  display: none;
	  opacity: 0;
	}
	[tooltip]::before {
	  content: '';
	  border: 5px solid transparent; /* opinion 4 */
	  z-index: 1001; /* absurdity 1 */
	}
	[tooltip]::after {
	  content: attr(tooltip); /* magic! */
	  
	  /* most of the rest of this is opinion */
	  font-family: Helvetica, sans-serif;
	  text-align: center;
	  
	  /* 
	    Let the content set the size of the tooltips 
	    but this will also keep them from being obnoxious
	    */
	  min-width: 3em;
	  max-width: 30em;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  padding: 1ch 1.5ch;
	  border-radius: .3ch;
	  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
	  background: #333;
	  color: #fff;
	  z-index: 1000; /* absurdity 2 */
	}
	
	/* Make the tooltips respond to hover */
	[tooltip]:hover::before,
	[tooltip]:hover::after {
	  display: block;
	}
	
	/* don't show empty tooltips */
	[tooltip='']::before,
	[tooltip='']::after {
	  display: none !important;
	}
	
	/* FLOW: UP */
	[tooltip]:not([flow])::before,
	[tooltip][flow^="up"]::before {
	  bottom: 100%;
	  border-bottom-width: 0;
	  border-top-color: #333;
	}
	[tooltip]:not([flow])::after,
	[tooltip][flow^="up"]::after {
	  bottom: calc(100% + 5px);
	}
	[tooltip]:not([flow])::before,
	[tooltip]:not([flow])::after,
	[tooltip][flow^="up"]::before,
	[tooltip][flow^="up"]::after {
	  left: 50%;
	  transform: translate(-50%, -.5em);
	}
	
	/* FLOW: DOWN */
	[tooltip][flow^="down"]::before {
	  top: 100%;
	  border-top-width: 0;
	  border-bottom-color: #333;
	}
	[tooltip][flow^="down"]::after {
	  top: calc(100% + 5px);
	}
	[tooltip][flow^="down"]::before,
	[tooltip][flow^="down"]::after {
	  left: 50%;
	  transform: translate(-50%, .5em);
	}
	
	/* FLOW: LEFT */
	[tooltip][flow^="left"]::before {
	  top: 50%;
	  border-right-width: 0;
	  border-left-color: #333;
	  left: calc(0em - 5px);
	  transform: translate(-.5em, -50%);
	}
	[tooltip][flow^="left"]::after {
	  top: 50%;
	  right: calc(100% + 5px);
	  transform: translate(-.5em, -50%);
	}
	
	/* FLOW: RIGHT */
	[tooltip][flow^="right"]::before {
	  top: 50%;
	  border-left-width: 0;
	  border-right-color: #333;
	  right: calc(0em - 5px);
	  transform: translate(.5em, -50%);
	}
	[tooltip][flow^="right"]::after {
	  top: 50%;
	  left: calc(100% + 5px);
	  transform: translate(.5em, -50%);
	}
	
	/* KEYFRAMES */
	@keyframes tooltips-vert {
	  to {
	    opacity: .9;
	    transform: translate(-50%, 0);
	  }
	}
	
	@keyframes tooltips-horz {
	  to {
	    opacity: .9;
	    transform: translate(0, -50%);
	  }
	}
	
	/* FX All The Things */ 
	[tooltip]:not([flow]):hover::before,
	[tooltip]:not([flow]):hover::after,
	[tooltip][flow^="up"]:hover::before,
	[tooltip][flow^="up"]:hover::after,
	[tooltip][flow^="down"]:hover::before,
	[tooltip][flow^="down"]:hover::after {
	  animation: tooltips-vert 300ms ease-out forwards;
	}
	
	[tooltip][flow^="left"]:hover::before,
	[tooltip][flow^="left"]:hover::after,
	[tooltip][flow^="right"]:hover::before,
	[tooltip][flow^="right"]:hover::after {
	  animation: tooltips-horz 300ms ease-out forwards;
	}
    
    /* END TOOLTIP STYLES */
  
    
	/* DataTable pagination hover */
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
		background: transparent;
		border: 1px solid transparent;
		box-shadow: inset 0 0 1px transparent;
	}
	
	.dataTables_wrapper .dataTables_paginate .paginate_button {
		cursor:default;
	}
	
	.page-item.active .page-link {
		cursor:pointer;
	}    
    /* DataTable pagination hover */
}