@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.ecrf-user, .ecrf-user-crf-data, .ecrf-user-crf-query, .ecrf-user-crf {	
	font-family: Roboto, "Nanum Gothic", sans-serif, "Noto Sans KR";
		
	a[disable=true] {
    	pointer-events: none;
	}
	
    /*
    .ci-btn-color { background-color:#C55A11; border-color:#C55A11; }
    .ci-btn-color:hover { background-color:#7B380B; border-color:#7B380B; }
    .ci-btn-color:active { background-color:#7B380B!important; border-color:#7B380B!important; }
    .emr-btn-color { background-color:#548235; border-color:#548235; }
    .emr-btn-color:hover { background-color:#3C5C26; border-color:#3C5C26; }
    .emr-btn-color:active { background-color:#3C5C26!important; border-color:#3C5C26!important; }
    .vcf-btn-color { background-color:#2F5597; border-color:#2F5597; }
    .vcf-btn-color:hover { background-color:#223C6C; border-color:#223C6C; }
    .vcf-btn-color:active { background-color:#223C6C!important; border-color:#223C6C!important; }
    
    .none-btn-color { background-color:#808080; border-color:#808080; }
    .none-btn-color:hover { background-color:#606060; border-color:#606060; }
    .none-btn-color:active { background-color:#606060!important; border-color:#606060!important; }
    */
	
	/* button style */
	.add-btn { background-color:#5f73ff;  border-color: #5f73ff; color:white; }
	.add-btn:active { background-color:#5f73ff!important; border-color:#5f73ff!important; color:white!important; }
	
	.delete-btn { background-color:#3cbe5a; border-color: #3cbe5a; color:white; }
	.delete-btn:active { background-color:#3cbe5a!important; border-color:#3cbe5a!important; color:white!important; }
	
	.sub-delete-btn { background-color:#3cbe5a; border-color: #3cbe5a; color:white; }
	.sub-delete-btn:active { background-color:#3cbe5a!important; border-color:#3cbe5a!important; color:white!important; }
	
	.reset-btn { background-color:#3cbe5a; border-color: #3cbe5a; color:white; }
	.reset-btn:active { background-color:#3cbe5a!important; border-color:#3cbe5a!important; color:white!important; }
	
	.history-btn{ background-color:#8c78ff; border-color: #8c78ff; color:white; }
	.history-btn:active { background-color:#8c78ff!important; border-color:#29AAE1!important; color:white!important; }
	
	.cancel-btn { background-color:#FFFFFF; border-color: rgba(60, 64, 67, 0.3); color:black; }
	.cancel-btn:active { background-color:#FFFFFF!important; border-color:#D1D2D3!important; color:black!important; }
	
	.edit-btn { background-color:#5f73ff; border-color: #5f73ff; color:white; }
	.edit-btn:active { background-color:#5f73ff!important; border-color:#5f73ff!important; color:white!important; }
	
	.ci-btn { background-color:#5f73ff; border-color:#5f73ff; color:white; }
	.ci-btn:active { background-color:#5f73ff!important; border-color:#5f73ff!important; color:white!important; }
	
	.emr-btn { background-color:#58BD84; border-color:#58BD84; color:white; }
	.emr-btn:active { background-color:#58BD84!important; border-color:#58BD84!important; color:white!important; }
	
	.vcf-btn { background-color:#2F5597; border-color:#2F5597; color:white; }
	.vcf-btn:active { background-color:#2F5597!important; border-color:#2F5597!important; color:white!important; }
	
	.ai-btn { background-color:#F4A460; border-color:#F4A460; color:white; }
	.ai-btn:active { background-color:#F4A460!important; border-color:#F4A460!important; color:white!important; }
	
	.none-btn { background-color:#929497; border-color:#929497; color:white; }
	.none-btn:active { background-color:#929497!important; border-color:#929497!important; color:white!important; }
		
	.radius-btn { border-radius:20px; }
	
	.btn-shadow { border-color: rgba(60, 64, 67, 0.3); box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; }
	
	.full-btn { font-size:1rem; width:100%; height: 40px;}
	.medium-btn { font-size:1rem; padding: 0.4rem 1.5rem; height:40px; }
	.small-btn { font-size:0.8rem; border-radius: 0; padding: 0.2rem 0.8rem; height:30px; }
	/* button style */


    /* icon button style */
    .dh-icon-button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        gap: 8px;
        padding: 6px 8px;
        border: none;
        border-radius: 4px;
        font-size: 0.875rem;
        cursor: pointer;		      
        text-decoration: none!important;
    }
    .dh-icon-button img{
		height: 24px;
		object-fit: contain;
	}
    .dh-icon-button span{
        color: white;
        white-space: nowrap;
        font-weight: bold;
        padding-top:2px;
    }
    .dh-icon-button-deactivate{
        background-color: #CCCCCC;
        cursor: not-allowed;		      
    }
    
     .dh-icon-button-deactivate span{
        color:#444!important;
    }
    
    .dh-icon-button-db-lock { background-color: #00C896;}
    .dh-icon-button-db-lock:hover { background-color: #00A563;}
    
    .dh-icon-button-add { background-color: #007BFF; }		  
    .dh-icon-button-add:hover { background-color: #0056b3; }
    
    .dh-icon-button-update { background-color: #5f73ff; }		  
    .dh-icon-button-update:hover { background-color: #3d51dd; }
    
    .dh-icon-button-audit { background-color: #8c78ff; }		  
    .dh-icon-button-audit:hover { background-color: #6a56dd; }
    
    .dh-icon-button-delete { background-color: #ea5353; }		  
    .dh-icon-button-delete:hover { background-color: #c83131; }
    
    .dh-icon-button-form { background-color: #F4A460; }
    .dh-icon-button-form:hover { background-color: #D28240; }

    .dh-icon-button-query { background-color: #2F5597; }
    .dh-icon-button-query:hover { background-color: #0d3375; }
            
    .dh-icon-button-sidebar{
        display: inline-flex;
        align-items: center;
        justify-content: left;
        gap: 10px;
        width: 96%;
        padding: 0px 10px;
        border: none;
        border-radius: 0px;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;		      
        text-decoration: none!important;
        margin-bottom: 2px;
        border-bottom: 1px solid #888;
        height: 3rem;
    }
  
    .sidebar-not-move {
    	cursor: not-allowed;
    	position: relative;
    }   
  
    /* START TOOLTIP STYLES */
	[tooltip] {
	  position: relative; /* opinion 1 */
	}
	
	/* Applies to all tooltips */
	[tooltip]::before,
	[tooltip]::after {
	  text-transform: none; /* opinion 2 */
	  font-size: .9em; /* opinion 3 */
	  line-height: 1;
	  user-select: none;
	  pointer-events: none;
	  position: absolute;
	  display: none;
	  opacity: 0;
	}
	[tooltip]::before {
	  content: '';
	  border: 5px solid transparent; /* opinion 4 */
	  z-index: 1001; /* absurdity 1 */
	}
	[tooltip]::after {
	  content: attr(tooltip); /* magic! */
	  
	  /* most of the rest of this is opinion */
	  font-family: Helvetica, sans-serif;
	  text-align: center;
	  
	  /* 
	    Let the content set the size of the tooltips 
	    but this will also keep them from being obnoxious
	    */
	  min-width: 3em;
	  max-width: 30em;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  padding: 1ch 1.5ch;
	  border-radius: .3ch;
	  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
	  background: #333;
	  color: #fff;
	  z-index: 1000; /* absurdity 2 */
	}
	
	/* Make the tooltips respond to hover */
	[tooltip]:hover::before,
	[tooltip]:hover::after {
	  display: block;
	}
	
	/* don't show empty tooltips */
	[tooltip='']::before,
	[tooltip='']::after {
	  display: none !important;
	}
	
	/* FLOW: UP */
	[tooltip]:not([flow])::before,
	[tooltip][flow^="up"]::before {
	  bottom: 100%;
	  border-bottom-width: 0;
	  border-top-color: #333;
	}
	[tooltip]:not([flow])::after,
	[tooltip][flow^="up"]::after {
	  bottom: calc(100% + 5px);
	}
	[tooltip]:not([flow])::before,
	[tooltip]:not([flow])::after,
	[tooltip][flow^="up"]::before,
	[tooltip][flow^="up"]::after {
	  left: 50%;
	  transform: translate(-50%, -.5em);
	}
	
	/* FLOW: DOWN */
	[tooltip][flow^="down"]::before {
	  top: 100%;
	  border-top-width: 0;
	  border-bottom-color: #333;
	}
	[tooltip][flow^="down"]::after {
	  top: calc(100% + 5px);
	}
	[tooltip][flow^="down"]::before,
	[tooltip][flow^="down"]::after {
	  left: 50%;
	  transform: translate(-50%, .5em);
	}
	
	/* FLOW: LEFT */
	[tooltip][flow^="left"]::before {
	  top: 50%;
	  border-right-width: 0;
	  border-left-color: #333;
	  left: calc(0em - 5px);
	  transform: translate(-.5em, -50%);
	}
	[tooltip][flow^="left"]::after {
	  top: 50%;
	  right: calc(100% + 5px);
	  transform: translate(-.5em, -50%);
	}
	
	/* FLOW: RIGHT */
	[tooltip][flow^="right"]::before {
	  top: 50%;
	  border-left-width: 0;
	  border-right-color: #333;
	  right: calc(0em - 5px);
	  transform: translate(.5em, -50%);
	}
	[tooltip][flow^="right"]::after {
	  top: 50%;
	  left: calc(100% + 5px);
	  transform: translate(.5em, -50%);
	}
	
	/* KEYFRAMES */
	@keyframes tooltips-vert {
	  to {
	    opacity: .9;
	    transform: translate(-50%, 0);
	  }
	}
	
	@keyframes tooltips-horz {
	  to {
	    opacity: .9;
	    transform: translate(0, -50%);
	  }
	}
	
	/* FX All The Things */ 
	[tooltip]:not([flow]):hover::before,
	[tooltip]:not([flow]):hover::after,
	[tooltip][flow^="up"]:hover::before,
	[tooltip][flow^="up"]:hover::after,
	[tooltip][flow^="down"]:hover::before,
	[tooltip][flow^="down"]:hover::after {
	  animation: tooltips-vert 300ms ease-out forwards;
	}
	
	[tooltip][flow^="left"]:hover::before,
	[tooltip][flow^="left"]:hover::after,
	[tooltip][flow^="right"]:hover::before,
	[tooltip][flow^="right"]:hover::after {
	  animation: tooltips-horz 300ms ease-out forwards;
	}
    
    /* TOOLTIP */
  
	.dh-icon-button-sidebar img{
		width: 30px;
		height: 30px;
		object-fit: contain;
	}
		
    .dh-icon-button-sidebar-deactivate{
        background-color: #CCCCCC;
    }
    
    .dh-icon-button-sidebar-deactivate:hover{
        background-color: #aaa;
    }
    
     .dh-icon-button-sidebar-deactivate span{
        color:#444!important;	
    }

    .dh-icon-button-sidebar span{
        color:white;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        text-align:left;
    }
    
    .dh-icon-button-main {
        background-color: #5f73ff;
    }
    .dh-icon-button-main:hover{
        background-color: #3d51dd;
    }

    .dh-icon-button-2nd {
        background-color: #00C896;
    }
    .dh-icon-button-2nd:hover{
        background-color: #00A563;
    }

    .dh-icon-button-3rd {
        background-color: #8c78ff;
    }
    .dh-icon-button-3rd:hover{
        background-color: #6a56dd;
    }
    
    
	.dh-icon-button-submit{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;      
        gap: 8px;
        padding: 4px 8px;
        border: none;
        border-radius: 4px;
        font-size: 0.95rem;
        cursor: pointer;		      
        text-decoration: none!important;
        width: 110px;
        height: 36px;
    }
    
    .dh-icon-button-submit img{
		height: 24px;
		object-fit: contain;
	}
     
    .dh-icon-button-submit span{
        color:white;
        font-weight:bold;
    }
    
   	.dh-icon-button-submit-search {
   		width:100px;
        background-color: #5f73ff;
    }
    .dh-icon-button-submit-search:hover{
        background-color: #3d51dd;
    }
    
    .dh-icon-button-submit-clear {
    	width:100px;    
        background-color: #ef6d6d;
    }
    .dh-icon-button-submit-clear:hover{
        background-color: #cd4b4b;
    }
    
    .dh-icon-button-submit-add {
        background-color: #5f73ff;
    }
    .dh-icon-button-submit-add:hover{
        background-color: #3d51dd;
    }
    
    .dh-icon-button-submit-update {
   		background-color: #5f73ff;
    }
    .dh-icon-button-submit-update:hover {
    	background-color: #3d51dd;
    }
    
    .dh-icon-button-submit-delete {
    background-color: #ea5353;
    }		  
    .dh-icon-button-submit-delete:hover {
    background-color: #c83131;
    }
    
    .dh-icon-button-submit-cancel {
    	border: 1px solid #aaa;
    	background-color: #FFF;
    }
    .dh-icon-button-submit-cancel:hover {
    background-color: #DDD;
    }
    
    .dh-icon-button-submit-import {
    	border: 1px solid #aaa;
    	background-color: #FFF;
    	width: 175px;
    }
    .dh-icon-button-submit-import:hover {
    	background-color: #DDD;
    }
    
    .dh-icon-button-submit-save {
    	border: 1px solid #999;
    	background-color: #DDD;
    }
    .dh-icon-button-submit-import:hover {
    	background-color: #aaa;
    }
    
    
    .dh-icon-button-submit-manage {
    	margin-top: 3px;
    	margin-bottom: 8px;
    	margin-left: 5px;
    	border: 1px solid #aaa;
    	background-color: #EEE;
    	width: 240px;
    }
    .dh-icon-button-submit-manage span{
    	color: black;
    }
     .dh-icon-button-submit-manage:hover {
    	background-color: #CCC;
    }
    
    .dh-icon-button-submit-review {
   		background-color: #5f73ff;
    }		  
    .dh-icon-button-submit-review:hover {
    	background-color: #3d51dd;
    }

    .dh-icon-button-submit-data {
    	width: 140px;
    	background-color: #8c78ff;
    }		  
    .dh-icon-button-submit-data:hover {
    background-color: #6a56dd;
    }
    
    .dh-icon-button-submit-form {
    	width: 140px;
        background-color: #F4A460;
    }
    .dh-icon-button-submit-form:hover {
        background-color: #D28240;
    }

    .dh-icon-button-submit-query {
        background-color: #2F5597;
        width: 140px;
    }
    .dh-icon-button-submit-query:hover {
        background-color: #0d3375;
    }
    /* icon button style */
	
	table { border-collapse : collapse; font-size : 0.9rem!important;}	
		
	.breadcrumb {
	    padding: 0;
	    margin-bottom: 0.5rem;
	}
	
	.center {
	    display:flex;
	    justify-content: center;
	}
	
	.min-width{
	    width: min-content;
	}

	.field-pad { padding: 10px; }

    .center-table,
    .center-table thead tr,
    .center-table thead th,
    .center-table tbody tr,
    .center-table tbody td
    { text-align: center !important; }

    .thead-gray>tr>th 
    {
        background-color:#2271b1;
        color:white;
        font-size:0.9rem
    }

    .vertical-middle {
        display:flex;
        align-items:center;
    }  

    .input-top-margin-container {
        input {
            margin-top:1rem;
            margin-bottom:1rem;
        }

        select {
            margin-top:1rem;
            margin-bottom:1rem;
        }
    }

    .form-group { margin-bottom:1rem; }

    .row-first {
        border-top: solid 1.5px #aaaaaa;
        border-bottom: solid 1px #cccccc;
    }
    .row-middle { border-bottom: solid 1px #cccccc; }
    .row-other { border-bottom: solid 1px #cccccc; }
    .row-last { border-top: solid 1.5px #aaaaaa; }
    
    
    /* need to integrate */
    .crf-max-width {
		width: 100px;
		word-break:keep-all;
		word-wrap:break-word;
	}

    .table-hover tbody tr:hover, 
    .table-hover tbody tr:hover td {
        background-color: #f0f5ff!important;
        color: #272833;
    }

    .table-striped tbody tr:nth-of-type(odd),
    .table-striped tbody tr:nth-of-type(odd) td {
        background-color: #FFF;
    }
    
    .update {
    	color: #940000;
		background-color: #E0E0E0;
		text-decoration: none;
    }
       	
	.crfHistory {background-color: #bebebe;}
    .crfHistory td{border: 1px solid #aaaaaa;}
	.row { align-items: stretch; }

	.top-border { border-top: 1px solid #dcdcde; }
	.bottom-border { border-bottom: 1px solid #dcdcde;	}
	
	.button-top-align { margin: 25px 0 0 0; }

    .borTr {border-top: 1rem;}
    .page-header-mar {margin-top: 10px; margin-bottom: 10px; }

	@media (min-width: 768px) {
		.md-marBr { margin-bottom:1rem; }
	}
    
    .groupName {
        display: flex;
        margin-top: 20px;
        background-color: #8580BC;
        color: white;
        font-weight: bold;
    }

    .subGroupName{
        background-color: #cfcaf7;
        font-weight: bold;
    }

    .queryBaseColor{color: white;}
    .queryAlertColor{color: red; }
    .queryIncompleteColor{color: yellow;}
    .queryCompleteColor{color: blue;}

    .sectionName {
        background-color: #eee;
        text-align: center;
    }

    .answerNode {
        text-align: center;
        cursor: pointer;
    }

    .graphSelection {
        color: #F47A5C!important;
    }
    
	.radio { display: inline-block; }
	.form-inline { display: inline-block; }
	
	.round-container { border: 1px solid #aaaaaa; border-radius:3px; }
	.title-span { font-size:20px; font-weight:bold; }
	.header-title-span { font-size:20px; font-weight:bold; }
	.sub-title-span { font-size:15px; font-weight:bold; }
	
	.index-table {table-layout:fixed; border:1px solid white; font-size:small;}
	
	.title-cell { background-color: #f9f9f9; border-right: 1px solid #dcdcde; font-weight:bold; }
	.title-middle-cell { background-color: #f9f9f9; border-left: 1px solid #dcdcde; border-right: 1px solid #dcdcde; font-weight:bold; }
	
	td.table-cell { min-width: 80px; }

    td.min-width-80 { min-width: 80px; }
    td.min-width-120 { min-width: 120px; }

    mark {
    	font-weight:600;
    	color:#0b63ce;
	}
    /* need to integrate */
    
    /* vertical-index */
    .vertical-index {
        text-align:center;
        white-space:nowrap;
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
        
    }
    .vertical-index p {
        margin:0 -100% ;
        display:inline-block;
        font-weight:600;
    }
    .vertical-index p:before{
        content:'';
        width:0;
        padding-top:100%;/* takes width as reference, + 10% for faking some extra padding */
        display:inline-block;
        vertical-align:middle;
    }
    /* vertical-index */
    
    
	/* DataTable pagination hover */
	.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
		background: transparent;
		border: 1px solid transparent;
		box-shadow: inset 0 0 1px transparent;
	}
	
	.dataTables_wrapper .dataTables_paginate .paginate_button {
		cursor:default;
	}
	
	.page-item.active .page-link {
		cursor:pointer;
	}    
    /* DataTable pagination hover */
    
    /* override css */
   	.searchcontainer-content .table thead th,
	.table thead th, .table-list thead td, .table-list thead th {
		background-color: #424242;
		color: #A0A0A0;
	}
	
}